{% extends 'layout.html.twig' %}
{% block content %}
	<div class="row">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><{{ produit.titre }}</h1>
			</div>
		</div>

		<div class="col-md-8">
			<img src="{{asset('photo/' ~ produit.photo) }}" alt="" class="img-responsive">
		</div>
		<div class="col-md-4">
			<h3>Description</h3>
			<p>{{produit.description}}</p>
			<h3>Détails</h3>
			<ul>
				<li>Catégorie : {{produit.categorie}}</li>
				<li>Couleur   : {{ produit.couleur }}</li>
				<li>Taille    : {{ produit.taille }} </li>
			</ul>
			<p class="lead">Prix : {{ produit.prix }}€</p>
		</div>
		<div class="col-md-4">
			{% if produit.stock > 0 %}

				<form method="post" action="panier.php">
					<input type="hidden" name="id_produit" value="'. $produit['id_produit'] .'">

					<select name="quantite" class="form-group-sm form-control-static" >
					   {% for i in 1..5 %}
                {% if i <= produit.stock %}
                      <option>{{ i }}</option>
                {% endif %}
              {% endfor %}



					</select>
					<input type="submit" name="ajout_panier" value="ajouter au panier" class="btn">

				</form>
			{% else %}
				<p>Produit indisponible !</p>
			{% endif %}

			<p><a href="">Retour vers votre sélection</a></p>

		</div>
	</div>

	<!-- Suggestions de produits -->
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">Suggestions de produits</h3>
      <div class="row">
        {% for produit in suggestions %}
          <div class="col-lg-2 col-sm-2 col-xs-12">
            <div class="thumbnail">
              <!-- <a href=""><img src="photo/{{ produit.photo }}" width="130" height="100"/></a> -->
              <a href="{ {{ path('produit' ,{'id' : produit.id_produit}) }}  }"><img src="{{ asset('photo/' ~ produit.photo ) }}" width="130" height="100"/></a>
              <div class="caption">
                <h4 class="pull-right">{{ produit.prix }}€</h4>
                <h4>{{ produit.titre }}</h4>
                <p>{{ produit.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
		</div>
	</div>

		<!-- Commentaires sur le produit-->
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">commentaires sur le produit</h3>
					{% if commentaires %}
						{% for commentaire in commentaires %}
						<b>Par : {{ commentaire.auteur }} le {{ commentaire.date_enregistrement }}</b><br/>
						<span><i>{{ commentaire.contenu }}</i><span/><br/><br/>
					{% endfor %}
				{% else %}
				 <p> Aucun commentaire sur ce produit pour le moment !</p>
				{% endif %}
			</div>
		</div>

		 </div>
     {% endblock %}
